:root {
  --md-source: #850046;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #2B0012;
  --md-ref-palette-primary10: #3E001E;
  --md-ref-palette-primary20: #650034;
  --md-ref-palette-primary25: #79003F;
  --md-ref-palette-primary30: #8C094B;
  --md-ref-palette-primary35: #9C1B57;
  --md-ref-palette-primary40: #AC2963;
  --md-ref-palette-primary50: #CC447C;
  --md-ref-palette-primary60: #ED5E96;
  --md-ref-palette-primary70: #FF84AF;
  --md-ref-palette-primary80: #FFB0C8;
  --md-ref-palette-primary90: #FFD9E2;
  --md-ref-palette-primary95: #FFECF0;
  --md-ref-palette-primary98: #FFF8F8;
  --md-ref-palette-primary99: #FFFBFF;
  --md-ref-palette-primary100: #FFFFFF;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #1F0A12;
  --md-ref-palette-secondary10: #2B151C;
  --md-ref-palette-secondary20: #422931;
  --md-ref-palette-secondary25: #4E343C;
  --md-ref-palette-secondary30: #5A3F47;
  --md-ref-palette-secondary35: #674B53;
  --md-ref-palette-secondary40: #74565F;
  --md-ref-palette-secondary50: #8E6F77;
  --md-ref-palette-secondary60: #AA8891;
  --md-ref-palette-secondary70: #C6A2AB;
  --md-ref-palette-secondary80: #E2BDC6;
  --md-ref-palette-secondary90: #FFD9E2;
  --md-ref-palette-secondary95: #FFECF0;
  --md-ref-palette-secondary98: #FFF8F8;
  --md-ref-palette-secondary99: #FFFBFF;
  --md-ref-palette-secondary100: #FFFFFF;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #1F0C00;
  --md-ref-palette-tertiary10: #2E1500;
  --md-ref-palette-tertiary20: #48290C;
  --md-ref-palette-tertiary25: #553416;
  --md-ref-palette-tertiary30: #623F20;
  --md-ref-palette-tertiary35: #6F4A2A;
  --md-ref-palette-tertiary40: #7C5635;
  --md-ref-palette-tertiary50: #986E4B;
  --md-ref-palette-tertiary60: #B48862;
  --md-ref-palette-tertiary70: #D1A27B;
  --md-ref-palette-tertiary80: #EFBD94;
  --md-ref-palette-tertiary90: #FFDCC2;
  --md-ref-palette-tertiary95: #FFEEE2;
  --md-ref-palette-tertiary98: #FFF8F5;
  --md-ref-palette-tertiary99: #FFFBFF;
  --md-ref-palette-tertiary100: #FFFFFF;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2D0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7E0007;
  --md-ref-palette-error30: #93000A;
  --md-ref-palette-error35: #A80710;
  --md-ref-palette-error40: #BA1A1A;
  --md-ref-palette-error50: #DE3730;
  --md-ref-palette-error60: #FF5449;
  --md-ref-palette-error70: #FF897D;
  --md-ref-palette-error80: #FFB4AB;
  --md-ref-palette-error90: #FFDAD6;
  --md-ref-palette-error95: #FFEDEA;
  --md-ref-palette-error98: #FFF8F7;
  --md-ref-palette-error99: #FFFBFF;
  --md-ref-palette-error100: #FFFFFF;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #151011;
  --md-ref-palette-neutral10: #201A1B;
  --md-ref-palette-neutral20: #352F30;
  --md-ref-palette-neutral25: #413A3B;
  --md-ref-palette-neutral30: #4C4546;
  --md-ref-palette-neutral35: #585052;
  --md-ref-palette-neutral40: #645C5E;
  --md-ref-palette-neutral50: #7E7576;
  --md-ref-palette-neutral60: #988E90;
  --md-ref-palette-neutral70: #B3A9AA;
  --md-ref-palette-neutral80: #CFC4C5;
  --md-ref-palette-neutral90: #EBE0E1;
  --md-ref-palette-neutral95: #FAEEEF;
  --md-ref-palette-neutral98: #FFF8F8;
  --md-ref-palette-neutral99: #FFFBFF;
  --md-ref-palette-neutral100: #FFFFFF;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #180E11;
  --md-ref-palette-neutral-variant10: #24191C;
  --md-ref-palette-neutral-variant20: #3A2D30;
  --md-ref-palette-neutral-variant25: #45383B;
  --md-ref-palette-neutral-variant30: #514347;
  --md-ref-palette-neutral-variant35: #5D4F52;
  --md-ref-palette-neutral-variant40: #6A5B5E;
  --md-ref-palette-neutral-variant50: #837377;
  --md-ref-palette-neutral-variant60: #9E8C90;
  --md-ref-palette-neutral-variant70: #B9A7AB;
  --md-ref-palette-neutral-variant80: #D5C2C6;
  --md-ref-palette-neutral-variant90: #F2DDE2;
  --md-ref-palette-neutral-variant95: #FFECF0;
  --md-ref-palette-neutral-variant98: #FFF8F8;
  --md-ref-palette-neutral-variant99: #FFFBFF;
  --md-ref-palette-neutral-variant100: #FFFFFF;
  /* light */
  --md-sys-color-primary-light: #AC2963;
  --md-sys-color-on-primary-light: #FFFFFF;
  --md-sys-color-primary-container-light: #FFD9E2;
  --md-sys-color-on-primary-container-light: #3E001E;
  --md-sys-color-primary-fixed-light: #FFD9E2;
  --md-sys-color-on-primary-fixed-light: #3E001E;
  --md-sys-color-primary-fixed-dim-light: #FFB0C8;
  --md-sys-color-on-primary-fixed-variant-light: #8C094B;
  --md-sys-color-secondary-light: #74565F;
  --md-sys-color-on-secondary-light: #FFFFFF;
  --md-sys-color-secondary-container-light: #FFD9E2;
  --md-sys-color-on-secondary-container-light: #2B151C;
  --md-sys-color-secondary-fixed-light: #FFD9E2;
  --md-sys-color-on-secondary-fixed-light: #2B151C;
  --md-sys-color-secondary-fixed-dim-light: #E2BDC6;
  --md-sys-color-on-secondary-fixed-variant-light: #5A3F47;
  --md-sys-color-tertiary-light: #7C5635;
  --md-sys-color-on-tertiary-light: #FFFFFF;
  --md-sys-color-tertiary-container-light: #FFDCC2;
  --md-sys-color-on-tertiary-container-light: #2E1500;
  --md-sys-color-tertiary-fixed-light: #FFDCC2;
  --md-sys-color-on-tertiary-fixed-light: #2E1500;
  --md-sys-color-tertiary-fixed-dim-light: #EFBD94;
  --md-sys-color-on-tertiary-fixed-variant-light: #623F20;
  --md-sys-color-error-light: #BA1A1A;
  --md-sys-color-on-error-light: #FFFFFF;
  --md-sys-color-error-container-light: #FFDAD6;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-outline-light: #837377;
  --md-sys-color-background-light: #FFFBFF;
  --md-sys-color-on-background-light: #201A1B;
  --md-sys-color-surface-light: #FFF8F8;
  --md-sys-color-on-surface-light: #201A1B;
  --md-sys-color-surface-variant-light: #F2DDE2;
  --md-sys-color-on-surface-variant-light: #514347;
  --md-sys-color-inverse-surface-light: #352F30;
  --md-sys-color-inverse-on-surface-light: #FAEEEF;
  --md-sys-color-inverse-primary-light: #FFB0C8;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #AC2963;
  --md-sys-color-outline-variant-light: #D5C2C6;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-container-highest-light: #EBE0E1;
  --md-sys-color-surface-container-high-light: #F1E5E7;
  --md-sys-color-surface-container-light: #F7EBEC;
  --md-sys-color-surface-container-low-light: #FDF1F2;
  --md-sys-color-surface-container-lowest-light: #FFFFFF;
  --md-sys-color-surface-bright-light: #FFF8F8;
  --md-sys-color-surface-dim-light: #E3D7D9;
  /* dark */
  --md-sys-color-primary-dark: #FFB0C8;
  --md-sys-color-on-primary-dark: #650034;
  --md-sys-color-primary-container-dark: #8C094B;
  --md-sys-color-on-primary-container-dark: #FFD9E2;
  --md-sys-color-primary-fixed-dark: #FFD9E2;
  --md-sys-color-on-primary-fixed-dark: #3E001E;
  --md-sys-color-primary-fixed-dim-dark: #FFB0C8;
  --md-sys-color-on-primary-fixed-variant-dark: #8C094B;
  --md-sys-color-secondary-dark: #E2BDC6;
  --md-sys-color-on-secondary-dark: #422931;
  --md-sys-color-secondary-container-dark: #5A3F47;
  --md-sys-color-on-secondary-container-dark: #FFD9E2;
  --md-sys-color-secondary-fixed-dark: #FFD9E2;
  --md-sys-color-on-secondary-fixed-dark: #2B151C;
  --md-sys-color-secondary-fixed-dim-dark: #E2BDC6;
  --md-sys-color-on-secondary-fixed-variant-dark: #5A3F47;
  --md-sys-color-tertiary-dark: #EFBD94;
  --md-sys-color-on-tertiary-dark: #48290C;
  --md-sys-color-tertiary-container-dark: #623F20;
  --md-sys-color-on-tertiary-container-dark: #FFDCC2;
  --md-sys-color-tertiary-fixed-dark: #FFDCC2;
  --md-sys-color-on-tertiary-fixed-dark: #2E1500;
  --md-sys-color-tertiary-fixed-dim-dark: #EFBD94;
  --md-sys-color-on-tertiary-fixed-variant-dark: #623F20;
  --md-sys-color-error-dark: #FFB4AB;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-error-container-dark: #93000A;
  --md-sys-color-on-error-container-dark: #FFDAD6;
  --md-sys-color-outline-dark: #9E8C90;
  --md-sys-color-background-dark: #201A1B;
  --md-sys-color-on-background-dark: #EBE0E1;
  --md-sys-color-surface-dark: #171213;
  --md-sys-color-on-surface-dark: #CFC4C5;
  --md-sys-color-surface-variant-dark: #514347;
  --md-sys-color-on-surface-variant-dark: #D5C2C6;
  --md-sys-color-inverse-surface-dark: #EBE0E1;
  --md-sys-color-inverse-on-surface-dark: #201A1B;
  --md-sys-color-inverse-primary-dark: #AC2963;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #FFB0C8;
  --md-sys-color-outline-variant-dark: #514347;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-container-highest-dark: #3A3334;
  --md-sys-color-surface-container-high-dark: #2F282A;
  --md-sys-color-surface-container-dark: #241E1F;
  --md-sys-color-surface-container-low-dark: #201A1B;
  --md-sys-color-surface-container-lowest-dark: #120D0E;
  --md-sys-color-surface-bright-dark: #3E3739;
  --md-sys-color-surface-dim-dark: #171213;
  /* Custom Colors */
  --md-custom-color-TESTCOLOR: #C07900;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
